/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(255, 255, 255);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("star.jpeg");
 
}