/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(255, 255, 255);
}

.texto2{
   
    font-size: 20px;
    padding-top: 10px;
    text-align: justify;
    color: rgb(255, 255, 255);
}
.texto3{
   
    font-size: 15px;
    padding-top: 10px;
    text-align: justify;
    color: rgb(255, 255, 255);
}
.titulo1{
   
    font-size: 30px;
    padding-top: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.principal{
   display: flex;
     
}
body{
    background-image: url("star.jpeg");
}
.cir1{
    height: 224px;
    width: 600px;
    background-image: url("cicuito.jpg");
    background-repeat: no-repeat;

}
.cir2{
    height: 600px;
    width: 600px;
    background-image: url("circuito2.jpg");
    background-repeat: no-repeat;

}
